/* 
 ************************************************ Design system code related start ************************************************
 */
/* 
 * Variables
 */
:root {
    /* Text colors */
    --text-color: #333;

    /* Colors */
    --color-light: #fff;
    --color-dark: #222;
    --color-accent: #007bff;

    /* Font family */
    --font-body: 'Helvetica', sans-serif;
    --font-heading: 'Helvetica Neue', 'Open Sans', sans-serif;


    /* Border */
    --border-md: 2px solid var(--color-dark);

    /* Border radius */
    --border-radius-xs: 4px;
    --border-radius-sm: 8px;
    --border-radius-md: 16px;
    --border-radius-lg: 24px;
    --border-radius-full: 50%;

    /* Shadows */
    --shadow-sm: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    --shadow-md: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    --shadow-lg: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/* 
 * General tag
 */
html,
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: var(--font-body);
}

/* 
 * Border & Border Radius
 */
.border {
    border: var(--border-md);
}
    
.rounded-xs {
    border-radius: var(--border-radius-xs);
}
.rounded-sm { 
    border-radius: var(--border-radius-sm);
}
.rounded-md {
    border-radius: var(--border-radius-md);
}
.rounded-lg {
    border-radius: var(--border-radius-lg);
}
.rounded-full {
    border-radius: var(--border-radius-full);
}

/* 
 * Shadows
 */
.shadow-sm {
    box-shadow: var(--shadow-sm);
}

.shadow-md {
    box-shadow: var(--shadow-md);
}

.shadow-lg {
    box-shadow: var(--shadow-lg);
}

/* 
 * Headings
 */
h1 {
    text-transform: uppercase;
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 90%;
    margin: 0 auto;
}

@media (min-width: 768px) {
    h1 {
        font-size: 9.375rem;
    }
}

h2 {
    font-size: 3.75rem;
    margin-top: 0;
    margin-bottom: 16px;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1rem;
}

/* 
 * Paragraph
 */
.font-xs {
    font-size: 0.875rem;
}

.font-sm {
    font-size: 1rem;
}

.font-md {
    font-size: 1.125rem;
}

.font-lg {
    font-size: 1.25rem;
}

/* 
 * Links
 */
a {
    color: var(--color-accent);
}

/* 
 * Buttons
 */
.button {
    display: inline-flex;
    padding: 12px 32px;
    border-radius: 4px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

.button--primary {
    color: var(--color-light);
    background-color: var(--color-dark);
    border: 2px solid var(--color-dark);
}

.button--outline {
    border: 2px solid var(--color-dark);
    background-color: transparent;
    color: var(--color-dark);
}

.button--text {
    padding: 0;
    color: var(--color-dark);
    background-color: transparent;
    border: none;
}

/* 
 * Images and Medias
 */
img {
    max-width: 100%;
}

/* 
 * Containers
 */
.container {
    max-width: 1600px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.container--small {
    max-width: 1400px;
}

.container--full-width {
    max-width: none;
}

.container--padding {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section--dark {
    color: #fff;
    background-color: var(--color-dark);
}

/* 
 * Columns
 */
.columns {
        display: flex;
        flex-direction: column;
        gap: 80px;
}

@media (min-width: 768px) {
    .columns {
        flex-direction: row;
    }
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
}


/* 
* Cards
 */
.card {}

/* 
* Utilities
 */

.flex {
    display: flex;
} 
.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.square {
    aspect-ratio: 1/1;
}

/* 
 ************************************************ Design system code related end ************************************************
 */

/* 
 ************************************************ Building blocks code related start ************************************************
 */

/* 
* Navigation
 */
.main-menu {
    display: none;
    position: sticky;
    top: 0;
    background-color: var(--color-light);
    /* box-shadow: var(--shadowl-sm) */
}

@media (min-width: 768px) {
    .main-menu {
        display: block;
    }
}

.main-menu__container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 72px;
}
.main-menu__logo {
    left: 0;
    position: absolute;
}
.main-menu__links {
    display: flex;
    gap: 16px;
}
.main-menu__links a {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-dark);
}
.main-menu__links a:hover {
    color: var(--color-accent);
}

/* 
* Hero related
 */
.hero__content {
    text-align: center;
}

.hero {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    min-height: 100vh;
    background-position: center center;
    background-size: cover;
}

/* 
* Footer
 */
footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}


/* 
 ************************************************ Building blocks code related end ************************************************
 */
.ds-shadow {
    border-radius: var(--border-radius-md);
    padding: 30px;
}