/* 
 ************************************************ Design system code related start ************************************************
 */
/* 
 * Variables
 */
:root {
    /* Text colors */
    --text-color: #333;

    /* Colors */
    --color-light: #fff;
    --color-dark: #222;
    --color-accent: #007bff;

    /* Font family */
    --font-body: 'Helvetica', sans-serif;
    --font-heading: 'Helvetica Neue', 'Open Sans', sans-serif;


    /* Border radius */
    --border-radius-xs: 4px;
    --border-radius-sm: 8px;
    --border-radius-md: 16px;
    --border-radius-lg: 24px;
    --border-radius-full: 50%;

    /* Shadows */
    --shadowl-sm: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    --shadowl-md: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    --shadowl-lg: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/* 
* General tag
 */
html,
body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Helvetica Neue', 'Open Sans', sans-serif;
}

h1 {
    text-transform: uppercase;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 90%;
    margin: 0 auto;
}

@media (min-width: 768px) {
    h1 {
        font-size: 150px;
    }
}

h2 {
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 16px;
}

h3 {
    font-size: 48px;
}

h4 {
    font-size: 32px;
}

h5 {
    font-size: 24px;
}

h6 {
    font-size: 16px;
}

img {
    max-width: 100%;
}

.font-xs {
    font-size: 14px;
}

.font-sm {
    font-size: 16px;
}

.font-md {
    font-size: 18px;
}

.font-lg {
    font-size: 20px;
}

/* 
* buttons
 */
.button {
    display: inline-flex;
    padding: 12px 32px;
    border-radius: 4px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

.button--primary {
    color: var(--color-light);
    background-color: var(--color-dark);
    border: 2px solid var(--color-dark);
}
.button--outline {
    border: 2px solid var(--color-dark);
    background-color: transparent;
    color: var(--color-dark);
}

.button--text {
    padding: 0;
    color: var(--color-dark);
    background-color: transparent;
    border: none;
}
/* 
* Utilities
 */
.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

/* 
* Containers
 */
.container {
    max-width: 1600px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.container--padding {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section--dark {
    color: #fff;
    background-color: var(--color-dark);
}

/* 
 ************************************************ Design system code related end ************************************************
 */


/* 
* Navigation
 */
.main-menu {
    display: none;
    position: sticky;
    top: 0;
    background-color: var(--color-light);
    /* box-shadow: var(--shadowl-sm) */
}

@media (min-width: 768px) {
    .main-menu {
        display: block;
    }
}

.main-menu__container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 72px;
}
.main-menu__logo {
    left: 0;
    position: absolute;
}
.main-menu__links {
    display: flex;
    gap: 16px;
}
.main-menu__links a {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-dark);
}
.main-menu__links a:hover {
    color: var(--color-accent);
}

/* 
* Hero related
 */
.hero__content {
    text-align: center;
}

.hero {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    min-height: 100vh;
    background-position: center center;
    background-size: cover;
}

.columns {
    gap: 100px;
}

@media (min-width: 768px) {
    .columns {
        display: flex;
    }
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* 
* Footer
 */
footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}