:root {
    --border-radius-sm: 4px;
    --border-radius: 16px;
    --border-radius-md: 24px;
    --border-radius-lg: 32px;
    --border-radius-full: 100%;
    --color-text: #333;
    --color-primary: #fff;
    --color-code-bg: #fff4db;
    --color-code: #8a6534;
    --container: 1200px;
    --container-lg: 1400px;
    --font-general-sans: "General Sans";
    --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    --font-lg: 18px;
    --font-md: 16px;
    --font-sm: 14px;
    --font-xs: 12px;
    --line-height-loose: 1.75;
    --line-height-normal: 1.5;
    --line-height-dense: 1.1;
    --space-1: 4px;
    --space-2: 8px;
    --space-3: 16px;
    --space-4: 24px;
    --space-5: 32px;
    --space-6: 64px;
    --size-gutter: var(--space-4);
    --size-gap: var(--space-6);
    --black: #1a1a1a;
    --white: #fff;
}